.mybody{
	zoom:90%
}
.homenav img{
	width:100px;
	padding-top:30px;
	border-radius:30px;
}
body{
	background-color:#FEFEFE;
}
.phead{
	background-color:#0F0C08;
	font-family:monoton, cursive;
	margin:auto;
}
.phead a{
	text-decoration:none;
}
.phead h1{
	color:#FEFEFE;
	font-size:3em;
}
.phead li{
	display: inline-block;
}
.homenav{
	padding:0px;
}
.subnav{
	text-align:right;
	padding:0px;
}
.subnav li{
	padding-right:20px;
	padding-top:0px;
	font-size:1.5em;
	padding-bottom:10px;
}
a:link{
	color:#FEFEFE;
}
a:visited{
	color:#FEFEFE;
}
a:hover{
	background-color:#FEFEFE;
	color:#0F0C08;
	padding:4px;
	border-radius:5px;
}
a:focus{
	background-color:#FEFEFE;
	color:#0F0C08;
	padding:4px;
	border-radius:5px;
}
.music{
	margin-top:30px;
	margin-bottom:30px;
	text-align:justify;
}
.film{
	margin-top:30px;
	margin-bottom:30px;
	text-align:justify;
}
.tmusic{
	margin-top:30px;
	margin-bottom:30px;
}
.tmusic .parent{
	display:flex;
	text-align:justify;
	background-color:#0F0C08;
	color:#FEFEFE;
	border:1px solid;
	border-radius:10px;
	padding-top:20px;
	padding-bottom:20px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}
.tmusic .block{
	text-align:left;
	background-color:#0F0C08;
	color:#FEFEFE;
	margin: 0;
	display: inline-block;
	width: 25%;
	padding:20px;
}
.tmusic .block1{
	text-align:center;
	background-color:#FEFEFE;
	color:#0F0C08;
	margin: 0;
	display: inline-block;
	width: 25%;
	padding:20px;
	border:1px solid;
	border-radius:10px;
	margin:5px;
}
.tmusic .block2{
	text-align:center;
	background-color:#FEFEFE;
	color:#0F0C08;
	margin: 0;
	display: inline-block;
	width: 25%;
	padding:20px;
	border:1px solid;
	border-radius:10px;
	margin:5px;
}
.tmusic .block3{
	text-align:center;
	background-color:#FEFEFE;
	color:#0F0C08;
	margin: 0;
	display: inline-block;
	width: 25%;
	padding:20px;
	border:1px solid;
	border-radius:10px;
	margin:5px;
}
img{
	width:300px;
	border-radius:10px;
}
.parent p{
	text-align:justify;
}
*{
	letter-spacing:1px;
	word-spacing: 2px;
	line-height:30px;
}
.mybeat p{
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
}
.mybeat h2{
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	margin:auto;
}
.mybeat h3{
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	padding-bottom:5px;
	margin:auto;
	text-align:center;
}

.music .right{
	border-radius:20px;
	width:300px;
	height:150px;
	float:right;
	margin-left:30px;
	margin-right:50px;
}
.film .right{
	border-radius:20px;
	width:300px;
	height:150px;
	float:right;
	margin-left:30px;
}
.parent .mention{
	word-spacing:2px;
	text-align:left;
}
.parent .intro{
	word-spacing:2px;
	text-align:left;
}
.genrepic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.show{
	background-color:#0F0C08;
	color:#FEFEFE;
	border-radius:30px;
	margin-top:30px;
	margin-bottom:30px;
	padding:30px;
}
.tvvid{
	background-color:#FEFEFE;
	color:#0F0C08;
	border-radius:30px;
	margin-top:30px;
	margin-bottom:30px;
	padding:30px;
}
.filmtypes h4{
	font-family: 'Monoton', cursive;
	font-size: 1.25em;
	text-align:center;
}
.filmtypes{
	margin:auto;
	padding-top:30px;
	padding-bottom:30px;
}
.show video{
	width:800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 50%;
	border:1px solid;
}
.filmtypes p{
	text-align:justify
}
.filmtypes .dir{
	text-align:center;
}
figure{
	float:right;
	margin-left:30px;
	margin-right:0px;
}
figcaption{
	display:block;
	font-weight:bold;
	text-align:center;
	margin-left:30px;
	margin-right:0px;
}
.part1{
	text-align:left;
	background-color:#0F0C08;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-right:200px;
	margin-bottom:30px;
}
.part2{
	text-align:right;
	background-color:#0F0C08;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-left:200px;
	margin-bottom:30px;
}
.mainbuttons a{
	text-decoration:none;
	font-family:monoton, cursive;
	font-size:2em;
	padding:5px;
	margin:5px;
}
.mainbuttons .right{
	margin-left:30px;
	border-radius:20px;
	width:300px;
	height:150px;
	float:right;
}
.mainbuttons .left{
	margin-right:30px;
	border-radius:20px;
	width:300px;
	height:150px;
	float:left;
}
.mainbuttons p{
	color:#FEFEFE;
	text-align:justify;
	font-size:1.5em;
}
img:hover{
	opacity:0.40;
}
footer{
	background-color:#1D1703;
	text-align:center;
	color:#FEFEFE;
	padding:20px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	font-size:1.125em;
	margin:auto;
}
.icon{
	width:30px;
	height:30px;
	vertical-align:middle;
}
.photogal{
	background-color:#0F0C08;
	text-align:center;
	color:#FEFEFE;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-top:30px;
}
.categal{
	margin:auto;
	margin-bottom:30px;
}
.colgal{
	margin:auto;
	margin-top:30px;
}
.photogal{
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	padding-bottom:5px;
	margin:auto;
	text-align:center;
}
a{
	text-decoration:none;
}
.myphoto{
	background-color:#0F0C08;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-top:30px;
}
.filmphoto{
	background-color:#0F0C08;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-top:30px;
}
.albums{
	background-color:#0F0C08;
	padding:30px;
	border-radius:30px;
	margin:auto;
	margin-top:30px;
}
.myphoto h2{
	color:#FEFEFE;
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-indent:150px;
}
.filmphoto h2{
	color:#FEFEFE;
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-indent:150px;
}
.filmphoto h3{
	color:#FEFEFE;
	font-family: 'Monoton', cursive;
	text-align:center;
	font-size: 1.125em;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}
.albums h2{
	color:#FEFEFE;
	font-family: 'Monoton', cursive;
	font-size: 1.5em;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
	text-indent:150px;
}
.myphoto .colparent{
	display:flex;
	text-align:justify;
	margin:auto;
}
.albums .colparent{
	display:flex;
	text-align:justify;
	margin:auto;
}
.filmphoto .colparent{
	display:flex;
	text-align:justify;
	margin:auto;
}
.picsbeau .colparent{
	display:flex;
	text-align:justify;
	margin:auto;
}
.myphoto .colblock1{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 50%;
	padding:20px;
	margin-right:auto;
	margin-left:350px;
}
.albums .colblock1{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 100%;
	padding:20px;
	margin-right:auto;
	margin-left:auto;
}
.filmphoto .colblock1{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 33%;
	padding:20px;
	margin-right:auto;
	margin-left:auto;
}
.myphoto .colblock2{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 50%;
	padding:20px;
	margin-left:auto;
	margin-right:350px;
}
.filmphoto .colblock2{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 33%;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}
.filmphoto .colblock3{
	text-align:center;
	margin: 0;
	display: inline-block;
	width: 33%;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
}
.albums .colparent .colblock1 img{
	width:400px;
}
